.post {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .post h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .post p {
    font-size: 16px;
    color: #333;
  }
  
  .post-details {
    font-size: 14px;
    color: #999;
    display: flex;
    justify-content: space-between;
  }
  
  .category strong {
    color: #000;
    font-weight: bold;
  }
  
  .date {
    color: #999;
    margin-left: auto;  /* Aligne la date à droite */
  }
  